<div class ="container mb-5">
    <h2> Welcome </h2>
    <p> We are Pod 22.OCT.PREP.1 AKA <span style="background: #1d539f;color: white;margin: 0 2px;padding: 0 5px;border-radius: 2px;">Web Whales</span> for the October Major League Hacking Prep Program. Our group came together from all around the world to work on developing websites and applications we are passionate about. We strive to learn about new technologies, languages and frameworks, and apply our skills to real world projects with the amazing support of our Pod Team Leader, Akshita Dixit. Learn more about our members, the types of projects we are working on, and our contributions to them below! </p>        
</div>

