<h2>Meet the Pod</h2>
<div class="card-container">
  {% for item in site.data.fellows %}
  <div class="card">
    <div class="info">
      <p class="title">{{ item.name }}</p>
      <p class="location">{{ item.location }}</p>
      <div class="social-icons">
        <a href={{ item.linkedin }} target="_blank" class="social-icon"
          ><i class="uil uil-linkedin"></i
        ></a>
        <a href={{ item.github }} target="_blank" class="social-icon"
          ><i class="uil uil-github"></i
        ></a>
        <a href={{ item.twitter }} target="_blank" class="social-icon"
          ><i class="uil uil-twitter"></i
        ></a>
        <a href={{ item.resume }} target="_blank" class="social-icon"
          ><i class="uil uil-file"></i
        ></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
