<header class="nav-bar" id="navbar">
    <div class="nav-content">
        <a href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="./assets/img/mlh-prep.png" />
            </div>
        </a>
    </div>
    <div class="links">
        <a href="#">Locate Pod Members</a>
        <a href="#">Blog</a>
        <a href="#projects">Projects</a>
        <a href="#podStats">Pod Stats</a>
    </div>
    <div class="one-quarter" id="switch">
        <input type="checkbox" class="checkbox" id="chk" />
        <label class="label" for="chk">
            <i class="fas fa-moon"></i>
            <i class="fas fa-sun"></i>
            <div class="ball"></div>
        </label>
    </div>
</header>