@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import 'navbar';
@import 'profile';
@import 'page';
@import "podStats";
@import 'footer';
@import 'maps';

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Open Sans", sans-serif;
}

.social-icons {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.social-icon {
    margin-right: 0.5rem;
}

@media only screen and (max-width: 1500px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 1000px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}


body {
    background-color: #f5f5f9;
    margin-bottom: 50px;
    height: 100vh;
    background-color: var(--background-color);
    transition: 1s !important;
}
h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    color: var(--heading-color);
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px;
    background-color: var(--card-bg);
    border-radius: .375rem;
    padding: 1.5em;
    font-size: 1.2em;
}

.projects .title:hover {
  color: var(--link-color);
}

.projects .location:hover {
  color: var(--link-color);
}

a {
    color: var(--text-color);
}

a:hover {
  color: var(--link-color);
}

.info {
    color: var(--text-color);
    p {
        margin-top: 5px;
        margin: 0px;
        text-align: left;
    }

    .title {
        font-size: 500;
        font-weight: bold;
    }

    .location, .description, .author {
        font-size: medium;
        font-weight: 400;
    }

    .dates {
        font-size: small;
        color: var(--date-color);
    }
}

.icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
        width: 100%;
    }
}

html {
  scroll-behavior: smooth;
}

.scrollToTopBtn {
  cursor: pointer;
  
  position: fixed;
  bottom: 70px;
  right: 30px;
  width: 48px;
  
  z-index: 1005;
  
  opacity: 0;
  
  transform: translateY(100px);
  transition: all .5s ease;
  
  text-align: center;
  font-size: 16px;
  line-height: 48px;
  text-decoration: none;
}

.showScrollToTopBtn {
  opacity: 1;
  transform: translateY(0)
}