.nav-bar {
    width: 100%;
    background-color: #133667;
    font-family: "Poppins", serif;
    font-weight: 700 !important;
    padding-top: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content .logo-touch-target {
    display: inline-flex;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    // margin: auto;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo img {
    width: 200px;
}

.nav-content {
	display: flex;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
	margin: 1vw;
}

.one-quarter {
	margin: 2vw;

}

.links {
	display: flex;
	width: 40vw;
	justify-content: space-around;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.3);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(var(--toggle-position));
	transition: transform 0.2s linear;
}

.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}