.wrapper {
  width: 100%;
  background-color: #092750;
  font-family: "Poppins", serif;
  font-weight: 700 !important;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  overflow: hidden;
  z-index: 100;
  top: 0;
  padding:1rem;
}
#side{
  display:none;
}
.links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s linear;
}
.menu {
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  display: none;
  transition: 0.5s linear;
}
.menu:hover {
  color: white;
  text-decoration: none;
}
.links a,
.menu,
.link a {
  font-family: "Poppins", serif;
  font-weight: 700 !important;
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

.links a:hover,
.link a:hover {
  color: #f39c12;
}


.link {
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
}
.link a {
  z-index: 1000;
}
.link a:hover {
  border-right: 50vw solid orange;
  border-left: 1.5rem solid orange;
  margin-left: -2.5rem;
  background: orange;
  color: white;
}
@media screen and (max-width: 950px) {
  .links {
    width: 100vw;
  }
}
@media screen and (min-width: 780px) {
  .link {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .menu {
    display: flex;
    margin-left:1.4rem;
  }
  .links,
  .link {
    display: none;
  }
  .wrapper{
    justify-content: space-between;
  }
  #side{
    margin-left:3.5rem;
  }
}