.profile {
    background-image: url('/assets/img/header_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    text-align: center;
    min-height: 60vh;
    margin-bottom: 00px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    
    img {
        object-fit: cover;
        border-radius: 50%;
        width: 200px ;
        height: 200px;
        display: inline;        
        padding: 20px;
        margin: 20px;
    }
    
    .profile-picture {
        margin-bottom: 30px;
    }
}