.projects {
    perspective: 1000px; // useful for 3D flip effect on project card
    width: 350px;
    height: 325px;

    .card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        background-color: var(--card-bg);
        border-radius: .375rem;
    }

    .card-front, .card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1.5em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .card-back {
        transform: rotateY(180deg);
    }

    .title:hover {
        color: var(--link-color);
    }
    
    .location:hover {
      color: var(--link-color);
    }

    .project-preview {
        width: 100%;
        margin-bottom: 1rem;
    }

    .title {
        width: fit-content;
        display: inline;
    }

    .location {
        width: fit-content;
    }

    .project-btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--background-color);
        color: var(--heading-color);
        padding: 0.5rem;
        border: none;
    }

    .project-btn:hover {
        filter: brightness(0.95);
    }

    .flip-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .flip-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 360px) {
    .projects {
        width: 325px;
        height: 300px;
    }
}