---
layout: default
---

<div class="banner">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/assets/img/mlh-prep.png"/>
            </a>
        </div>
        <div class="project-row">
            <div class="title">
                {{ page.title }}
            </div>
            <div class="back-button"> 
                    <a href="/"><img src="https://cdn-icons-png.flaticon.com/512/93/93634.png"/>
                    Main Page
                    </a>
            </div>
        </div>
    </div>
</div>

<div class="container page">
    {{ content }}
    {% if page.date and page.author %}
    <p>Published on {{ page.date | date_to_string }} by {{ page.author }}</p>
    {% endif %}
</div>